@import url('https://fonts.googleapis.com/css2?family=Carme&family=Roboto:wght@100;300;700&display=swap');

* {
	font-family: 'Carme', 'sans-serif';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #f9f9f9;
	min-height: 100vh;
	overflow-x: hidden;
}

/* NAV */
header {
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	display: flex;
	/* flex-wrap: nowrap; */
	justify-content: flex-start;
	align-items: center;
	z-index: 100;
}

.logo {
	padding: 0px;
	font-size: 2em;
	color: #000;
	pointer-events: none;
}

.navigation a {
	text-decoration: none;
	color: #000;
	padding: 6px 15px;
	border-radius: 20px;
	margin: 0 10px;
	font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
	background: #000;
	color: #fff;
}

/* PORTADA INDEX */
.parallax {
	background-image: url(./img/bg.jpg);
	background-size: cover;
	height: 90vh;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
}

#text {
	padding-top: 100px;
	position: absolute;
	font-size: 8em;
	color: #fff;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 5);

	/* 	z-index: 1; */
}

.parallax img {
	position: absolute;
	left: 0;
	width: 120%;
	height: 85%;
	pointer-events: none;
	align-self: self-end;
}

.sec {
	background-image: url(./img/bgGray.svg);
	background-attachment: fixed;
	position: relative;

	padding: 100px;
	text-align: justify;
}

.sec h2 {
	font-size: 3em;
	color: #000;
	margin-bottom: 10px;
}

.sec p {
	font-size: 1em;
	color: #000;
	margin-bottom: 10px;
	font-weight: 300;
}

/* @media screen and (max-width: 1200px) {
}
 */
@media screen and (max-width: 1024px) {
	#text {
		font-size: 400%;
	}
}

@media screen and (max-width: 480px) {
}
